.login-register-title {
    font-size: 30px;
    color: $color-font-light;
    text-align: center;
    padding: 10px;
    animation: pulse 1.5s infinite linear;
}

.login-input {
    all: unset;
    height: 53px;
    width: 200px;
    color: $color-font-dark;
    background-color: $color-font-light;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
}

.register-input {
    input {
        all: unset;
        height: 53px;
        width: 200px;
        color: $color-font-dark;
        background-color: $color-font-light;
        border-radius: 10px;
        text-align: center;
        font-weight: 700; 
    }
}

.login-register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-register-button {
    all: unset;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: $color-font-dark;
    color: $color-font-light;
    text-align: center;
    border: 2px solid $color-font-light;
    font-weight: 700;
    &:hover {
        background-color: lighten($color-font-dark, 10);
        cursor: pointer;
    }

    &:active {
        background-color: $gold;
        color: $color-font-dark;
        cursor: default;
    }
}

.login-register-instead {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.login-register-error {
    padding: 20px;
    color: lighten($red,3);
    animation: pulse 10s infinite linear;
}